# Ignore MacOS system files
.DS_store

# Ignore Images
images/

# Ignore node_modules folder
node_modules

# Ignore text files
*.txt

# Ignore env variables
.env
config.js

# Ignore SASS config files
.sass-cache